<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Landing | Tailwind Starter Kit by Creative Tim</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

  <%= require('../partials/header.html?raw') %>

    <main class="bg-gray-300 mb-32">
      <div class="flex flex-wrap py-12">
        <div class="w-full md:w-9/12 px-2 mr-auto ml-auto">
          <div
            class="container relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg overflow-hidden">
            <div class="overflow-hidden md:flex px-5">
              <div class="w-full md:w-2/12">
                <img class="w-full" src="https://picsum.photos/225" />
              </div>
              <div class="w-full md:w-10/12 p-3">
                <div class="flex justify-between items-center">
                  <div class="border rounded-lg py-1 px-3">
                    <button type="button"
                      class="text-cyan-700 h-8 w-8 rounded-full hover:bg-cyan-700 hover:text-white"><i
                        class="fas fa-minus"></i></button>
                    <span>126°</span>
                    <button type="button" class="text-red-700 h-8 w-8 rounded-full hover:bg-red-700 hover:text-white"><i
                        class="fas fa-plus"></i></button>
                  </div>
                </div>
                <div class="py-2">
                  <p class="font-bold"><a href="#">Chaussures de sécurité (intervention) Adidas Gsg 9.7 - Noir
                      (elite.lepape.com)</a></p>
                  <p>
                    <span>
                      <span class="mr-1 text-xl"><span class="text-red-700 font-bold">40€</span></span>
                      <span class="mr-1 text-xl">
                        <span class="line-through text-gray-400">133€</span>
                        <span>-70%</span>
                      </span>
                      <span class="mr-1 text-gray-400">
                        <i class="fas fa-truck"></i> <span>3,90€</span></span>
                      <a href="#">
                        <span class="text-gray-400">
                          Bons plans
                          <span class="text-cyan-700">Lepape</span>
                        </span>
                      </a>
                    </span>
                  </p>
                </div>
                <div class="p-1">
                  <div class="sm:flex sm:flex-row sm:items-center">
                    <div class="sm:justify-start">
                      <div class="text-gray-700"><span class="text-xs font-bold">Admin</span></div>
                    </div>
                    <button
                      class="ml-auto mt-3 sm:mt-0 py-2 px-8 bg-cyan-700 hover:bg-cyan-500 font-bold text-white rounded-lg shadow-md text-sm">
                      Tới nơi bán
                    </button>
                    <div class="px-1 py-1 border border-dotted ml-3">
                      <input class="outline-none px-2" value="OCT2021" title="Copier" readonly=""">
                    <button class=" px-2 p-1 text-sm bg-cyan-700 text-white">
                      <span>
                        <i class=" fas fa-cut"></i>
                      </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overflow-hidden text-gray-400 text-sm p-5">
              <div class="border flex flex-wrap p-3 rounded-lg">
                <div>
                  <span class="mr-3">
                    <i class="fas fa-hourglass-end w-4 h-4 mr-1 fill-current"></i>
                    <span>Hết hạn: <span>12/10/2021</span></span></span>
                  <span class="mr-3">
                    <i class="fas fa-map-marker-alt w-4 h-4 mr-1 fill-current"></i>
                    <span>Nơi bán : Toàn quốc</span>
                  </span>
                  <span class="mr-3">
                    <i class="fas fa-calendar-alt w-4 h-4 mr-1 fill-current"></i>
                    <span>28/9/2021</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="overflow-hidden text-sm p-5">
              <div class="font-bold mb-5">Description:</div>
              <p>
                Découvrez la batterie de cuisine 10 pièces inox EMOTION tous feux dont induction ! Cette batterie est
                composée de : 2 Poêles 22/26cm + 2 casseroles 16/18cm + 2 couvercles hermétiques 16/18cm + 1 poignée
                amovible + 3 spatules (cuillères + louche + spatule). Batterie de cuisine au design tendance et élégant
                qui vous fera redécouvrir la plaisir de cuisiner ! Son revêtement en titanium pro est spécialement conçu
                pour durer. Sa technologie Thermo-Spot vous permet de maîtriser parfaitement la température. Sa base
                épaisse permet une meilleure diffusion de la chaleur pour des repas délicieux ! Bords verseurs et
                graduations intérieurs pour vous faciliter la vie lors de vos moments cuisine.
              </p>
              <div class="text-sm font-bold text-white my-8">
                <a href="#" class="bg-blue-800 rounded-lg px-3 py-2"><i
                    class="fab fa-facebook-square w-4 h-4 mr-1 fill-current"></i><span>facebook</span></a>
                <a href="#" class="bg-light-blue-500 rounded-lg px-3 py-2">
                  <i class="fab fa-twitter w-4 h-4 mr-1 fill-current"></i><span>twitter</span>
                </a>
              </div>
            </div>
            <div class="overflow-hidden text-sm bg-gray-100 p-5 text-gray-700">
              <a href="#comment-form">
                <i class="fas fa-comments w-4 h-4 mr-1 fill-current"></i>
                <span>Bình luận</span>
              </a>
            </div>
          </div>
          <div
            class="container relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg overflow-hidden">
            <div class="bg-black p-5">
              <span class="text-white text-md font-bold"> 107 bình luận</span>
            </div>
            <div id="task-comments" class="pt-4">
              <!--     comment-->
              <div
                class="bg-white rounded-lg p-3 flex flex-col justify-center items-center md:items-start shadow-md mb-2">
                <div class="flex flex-row justify-center mr-2">
                  <img alt="avatar" width="48" height="48" class="rounded-full w-10 h-10 mr-4 shadow-lg mb-4"
                    src="https://picsum.photos/40">
                  <h3 class="font-semibold text-lg text-center md:text-left ">@Shanel</h3>
                </div>
                <p style="width: 90%" class="text-gray-600 text-lg text-center md:text-left ">Hi good morning will it be
                  the entire house. </p>
              </div>
              <!--  comment end-->
              <!--     comment-->
              <div
                class="bg-white rounded-lg p-3  flex flex-col justify-center items-center md:items-start shadow-md mb-2">
                <div class="flex flex-row justify-center mr-2">
                  <img alt="avatar" width="48" height="48" class="rounded-full w-10 h-10 mr-4 shadow-lg mb-4"
                    src="https://picsum.photos/40">
                  <h3 class="font-semibold text-lg text-center md:text-left ">@Tim Motti</h3>
                </div>
                <p style="width: 90%" class="text-gray-600 text-lg text-center md:text-left "><span
                    class="font-semibold">@Shanel</span> Hello. Yes, the entire exterior, including the
                  walls. </p>
              </div>
              <!--  comment end-->
            </div>
            <form action="#" accept-charset="UTF-8" method="post" id="comment-form">
              <input type="hidden">
              <textarea class="w-full shadow-inner p-4 border-0 rounded-lg outline-none text-sm"
                placeholder="Nhập nội dung" rows="1" id="comment_content" spellcheck="false"></textarea>
              <button class="font-bold py-2 px-4 w-full bg-cyan-700 text-lg text-white shadow-md rounded-lg ">Bình luận
              </button>
            </form>
          </div>
        </div>
        <div class="w-full md:w-3/12 px-2 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
            <img alt="..."
              src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80"
              class="w-full align-middle rounded-t-lg">
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Top Notch Services
              </h4>
              <p class="text-md font-light mt-2 text-white">
                The Arctic Ocean freezes every winter and much of the
                sea-ice then thaws every summer, and that process will
                continue whatever happens.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </main>

    <%= require('../partials/footer.html?raw') %>
</body>

</html>
