<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Landing | Tailwind Starter Kit by Creative Tim</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="vendors/ckeditor/styles.css" />
</head>

<body>

  <%= require('../partials/header.html?raw') %>

    <main class="bg-gray-300 mb-32">
      <div class="flex flex-wrap py-12">
        <div class="w-full md:w-9/12 px-2 mr-auto ml-auto">
          <div
            class="container relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg overflow-hidden">
            <div class="container items-center px-5 py-12 lg:px-20">
              <div
                class="flex flex-col w-full p-10 px-8 pt-6 mx-auto my-6 mb-4 transition duration-500 ease-in-out transform bg-white border rounded-lg lg:w-1/2">
                <h1 class="page-title text-lg font-bold space--mb-0"> Poster un nouveau deal </h1>
                <form>
                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Link</label>
                    <input type="text" id="name" name="name" placeholder="https://www.example.com/superdeal" autocomplete="off"
                      class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                    <p class="text-xs text-gray-400 p-2">Vui lòng cung cấp liên kết đến trang nơi cộng đồng có thể lấy
                      thông tin, xem sản phẩm và tận hưởng ưu đãi!</p>
                  </div>
                  <h2 class="page-title text-lg font-bold space--mb-0"> Thông tin </h2>
                  <div class="flex flex-wrap flex-row">
                    <div class="w-1/2 relative pt-4 pr-2">
                      <label for="name" class="text-base leading-7 text-blueGray-500">Giá khuyến mãi</label>
                      <input type="number" id="number" name="number" placeholder="0"
                        class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                    </div>
                    <div class="w-1/2 relative pt-4">
                      <label for="name" class="text-base leading-7 text-blueGray-500">Giá gốc</label>
                      <input type="number" id="number" name="number" placeholder="0"
                        class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                    </div>
                    <div class="w-1/2 relative pt-4 pr-2">
                      <label for="name" class="text-base leading-7 text-blueGray-500">Giá vận chuyển</label>
                      <input type="number" id="ViewModel_PriceShipping" name="ViewModel_PriceShipping" placeholder="0"
                        class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                    </div>
                  </div>
                  <div class="flex mt-2">
                    <label class="flex items-center">
                      <input type="checkbox" class="form-checkbox" id="ViewModel_FreeShipping">
                      <span class="ml-2 text-blueGray-500">Miễn phí vận chuyển</span>
                    </label>
                  </div>
                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Voucher</label>
                    <input type="number" id="number" name="number" placeholder="Nhập mã khuyến mãi"
                      class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                  </div>

                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Tiêu đề</label>
                    <input type="number" id="number" name="number" placeholder="Đặt một tiêu đề ngắn gọn ..."
                      class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                  </div>

                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Mô tả</label>
                    <textarea id="description" name="description"
                      placeholder="Trình bày sản phẩm hoặc ưu đãi bằng lời của bạn, giải thích mức độ thú vị của ưu đãi theo ý kiến ​​của bạn, mô tả cách nhận giá nếu có mánh khóe ... Không sao chép và dán nội dung từ các trang khác! Có phải thỏa thuận của bạn trong cửa hàng? Đừng quên ghi rõ thành phố nơi nó nằm và số hàng có sẵn!"
                      class="w-full h-32 px-4 py-2 mt-2 text-base text-blueGray-500 transition duration-500 ease-in-out transform bg-white border rounded-lg focus:ring-cyan-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 apearance-none autoexpand ckeditor"></textarea>
                  </div>

                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Chọn Danh Mục</label>
                    <ul id="filter1"
                      class="filter-switch flex flex-wrap relative p-1 space-x-1 rounded-md font-semibold text-blue-600 my-4">
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-0" class="sr-only">
                        <label for="filter1-0"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Công nghệ cao
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-1" class="sr-only">
                        <label for="filter1-1"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Ôtô
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-2" class="sr-only">
                        <label for="filter1-2"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Bảng điều khiển & trò chơi điện tử
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-3" class="sr-only">
                        <label for="filter1-3"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Văn hóa & Giải trí
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Cửa hàng tạp hóa & cửa hàng tạp hóa
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Thể thao & Ngoài trời
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Phụ kiện thời trang
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Gói di động và internet
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Sức khỏe & Mỹ phẩm
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Thể thao & Ngoài trời
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Gia đình & Trẻ em
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Gói di động và internet
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Nhà & Môi trường sống
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Tài chính & Bảo hiểm
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Vườn & Tự làm
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Dịch vụ
                        </label>
                      </li>
                      <li class="filter-switch-item flex relative bg-gray-300x bg-gray-200 mt-2">
                        <input type="radio" name="filter1" id="filter1-4" class="sr-only">
                        <label for="filter1-4"
                          class="py-1 px-2 text-sm leading-6 text-gray-600 rounded shadow buttonrevert-gray">
                          Du lịch
                        </label>
                      </li>
                    </ul>
                  </div>

                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Ngày bắt đầu</label>
                    <input type="date" id="date" name="date" placeholder="dd-mm-yyyy" placeholder="name"
                      class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                  </div>

                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Ngày kết thúc</label>
                    <input type="date" id="date" name="date" placeholder="dd-mm-yyyy" placeholder="name"
                      class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                  </div>

                  <div class="relative mt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Chọn nơi bán</label>
                    <select
                      class="w-full px-4 py-2 mt-2 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
                      <option>Surabaya</option>
                      <option>Bandung</option>
                      <option>jakarta</option>
                    </select>
                  </div>

                  <div class="relative pt-4">
                    <div class="bg-white px-2">
                      <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
                        <div class="md:flex">
                          <div class="w-full p-3">
                            <div id="dealImgUpload"
                              class="relative border-dotted h-48 rounded-lg border-dashed border-2 border-cyan-700 bg-gray-100 flex justify-center items-center">
                              <div class="absolute">
                                <div class="flex flex-col items-center">
                                  <i class="fa fa-folder-open fa-4x text-cyan-700"></i>
                                  <span class="block text-gray-400 font-normal">Attach your image here</span>
                                </div>
                              </div>
                              <input id="DealUploadFileDto_File" type="file" class="h-full w-full opacity-0 cursor-pointer" name="">
                            </div>
                            <div id="dealImgUploaded" class="hidden">
                              <img id="dealImgPreview" src="#" class="flex flex-col items-center" />
                              <a id="removeDealImgFile" href="#" class="text-red-600">Remove image</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="relative pt-4">
                    <label for="name" class="text-base leading-7 text-blueGray-500">Địa chỉ local</label>
                    <input type="number" id="number" name="number" placeholder="Địa chỉ nơi bán ..."
                      class="w-full border-2 border-gray-700 px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg focus:bg-white focus:outline-none focus:ring-2 focus:ring-cyan-500">
                  </div>

                  <div class="flex items-center w-full pt-4 mb-4">
                    <button id="AddDealButton"
                      class="w-full py-3 text-base text-white transition duration-500 ease-in-out transform bg-cyan-800 rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-cyan-500">
                      Lưu
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-3/12 px-2 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
            <img alt="..."
              src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80"
              class="w-full align-middle rounded-t-lg">
            <blockquote class="relative p-8 mb-4">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Top Notch Services
              </h4>
              <p class="text-md font-light mt-2 text-white">
                The Arctic Ocean freezes every winter and much of the
                sea-ice then thaws every summer, and that process will
                continue whatever happens.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </main>

    <%= require('../partials/footer.html?raw') %>
      <script src="vendors/ckeditor/ckeditor.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

      <script>
        function toggleNavbar(collapseID) {
          document.getElementById(collapseID).classList.toggle("hidden");
          document.getElementById(collapseID).classList.toggle("block");
        }

        var allEditors = document.querySelectorAll('.ckeditor');
        allEditors.forEach(function (el) {
          ClassicEditor
            .create(el, {
              toolbar: {
                items: [
                  'bold',
                  'italic',
                  'strikethrough',
                  'underline',
                  'link',
                  'bulletedList',
                  'numberedList',
                  '|',
                  'imageUpload',
                  'mediaEmbed'
                ]
              },
              image: {
                toolbar: [
                  'imageTextAlternative'
                ]
              }
            })
            .catch(error => {
              console.error(error);
            });
        });

      </script>
</body>

</html>
